{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SPS</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.3/solar/bootstrap.min.css" integrity="sha512-jJVf5SGg0vDRIZQUwozqfr5/JmboqwH9KVdcy5SWol5f5a0A3bDEYUTaq7Bycl5F7hxqqWJ2QaD26D11Yf6nFQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <!-- navbar -->
    {% block content %}

    {% endblock %}
    <!-- footer -->
  </body>
</html>
