{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Student Profile System">

  <title>SPS | Auth</title>

  <!-- Bootstrap core CSS -->
  <!-- CSS only -->
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
</head>

<body>

  <div class="container-fluid">
    <div class="row">

      <main class="justify-content-center align-items-center">

        {% block content %}

        {% endblock %}
      </main>
    </div>
  </div>
  <!-- <script src="{% static 'js/dashboard.js' %}"></script> -->
</body>

</html>
