{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
      <div class="wrapper">
         <div class="title-text">
            <div class="title ">
               Register Form
            </div>
         </div>
            <div class="form-inner">
               <form method="post" class="login">
                 <div class="field">
                    <input type="text" placeholder="Username" name="username" id="usernameField" value="{{fieldValues.username}}" required>
                 </div>
                  <div class="field">
                     <input type="email" placeholder="Email Address" name="email"  id="emailField" value="{{fieldValues.email}}" required>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Password" name="password" id="passwordField" required>
                  </div>

                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Register">
                  </div>
               </form>
            </div>
      </div>
      <script src="{% static 'js/register.js' %}"></script>
   {% endblock %}
