@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: -webkit-linear-gradient(left, rgb(237 173 246), rgb(220 109 168));
  padding: 0 10px;
}
.wrapper{
  max-width: 700px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
  border-radius: 8px;
}

.wrapper .title{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid #f697ac;
}

.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  align-items: center;
}

.wrapper .form .inputfield label{
   width: 160px;
   margin-right: 10px;
   font-size: 16px;
   font-weight: 500;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  margin-top: 2px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}
.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus{
    border-color: #f697ac;
}
.btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
.btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #ffaa75, #fa4299, #ffaa75, #fa4299);
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
 .btn:hover .btn-layer{
    left: 0;
  }
 .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }

@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}
